<footer id="footer" class="sixteen columns" data-hook>
  <div class="container">
    
    <div class="four columns">
      <%= image_tag "spree/fancy/logo-white.png", :alt => "Spree Demo Theme", :id => "footer-logo" %>
    </div>
    <div class="four columns" style="font-size:16px">
      <div class="phone">
        Contact Us: 
        <a href="callto:087881124828">087881124828</a>
      </div>
      <div class="email">
        Email: 
        <a href="mailto:kaunishijab@gmail.com">kaunishijab@gmail.com</a>
      </div>
      <div class="bbm">
        BBM:
        <b>22A05301</b>
      </div>
      <div class="facebook">
        Facebook:
        <a href="https://www.facebook.com/pages/Kaunis-Hijab/634751363278215?fref=ts">Kaunis Hijab</a>
      </div>
      <div class="twitter">
        Twitter:
        <a href="https://twitter.com/kaunishijab">@kaunishijab</a>
      </div>
    </div>
  </div>
</footer>