<footer id="footer" class="sixteen columns" data-hook>
  <div class="container">
    
    <div class="four columns">
      <%= image_tag "spree/fancy/logo-white.png", :alt => "Spree Demo Theme", :id => "footer-logo" %>
      <br/>
      <br/>
      <div class="phone">
        Phone: 
        <a href="callto:087881124828">087881124828</a>
      </div>
      <!-- <div class="email">
        <a href="mailto:demo@spreecommerce.com">demo@spreecommerce.com</a>
      </div>
      <br> -->
    </div>
  </div>
</footer>